/* Root Styles */
:root {
    --grey-500: #969FAD;
    --grey-900: #262E38;
    --grey-950: #131518;
    --orange-500: #FC7614;
    --gradient-1: radial-gradient(circle at top, #232A34, #181E27);

    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-1300: 104px;
    --spacing-1700: 136px;
}

/* General */
body {
    font-family: 'Overpass', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: var(--grey-500);
    background-color: var(--grey-950);
    margin: 0;
    padding: var(--spacing-300);
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

p, h1 {
    margin: 0;
}

#card {
    background: var(--gradient-1);
    border-radius: 15px;
}