/* Root Styles */
:root {
    --grey-500: #969FAD;
    --grey-900: #262E38;
    --grey-950: #131518;
    --orange-500: #FC7614;
    --gradient-1: radial-gradient(circle at top, #232A34, #181E27);

    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-1300: 104px;
    --spacing-1700: 136px;
}

/* General */
body {
    font-family: 'Overpass', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: var(--grey-500);
    background-color: var(--grey-950);
    margin: 0;
    padding: var(--spacing-300);
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

[hidden] {
    display: none !important;
}

p, h1 {
    margin: 0;
}

#card {
    background: var(--gradient-1);
    border-radius: 15px;
}

.main-text {
    color: white;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: var(--spacing-200);
}

/* Rating Card */
.rating-card {
    padding: 27px var(--spacing-300);
}

#rating-content, form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

#rating-content .icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--grey-900);
    display: flex;
    justify-content: center;
    align-items: center;
}

#rating-content .icon img {
    width: 14px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
}

#radio-div {
    margin-top: var(--spacing-200);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: var(--spacing-200);
    justify-items: center;
}

#radio-div input {
    display: none;
}

#radio-div label {
    background-color: var(--grey-900);
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    color: var(--grey-500);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

#radio-div label:hover {
    background-color: white;
    color: var(--grey-900);
}

#radio-div label.selected {
    background-color: var(--orange-500);
    color: var(--grey-900);
}

#submit-btn {
    background-color: var(--orange-500);
    color: var(--grey-950);
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.87px;
    font-weight: bold;
    border: none;
    padding: 16px var(--spacing-200) 15px;
    border-radius: 22.5px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

#submit-btn:hover {
    background-color: white;
    color: var(--grey-900);
}

/* Thanks Card */
.thanks-card {
    padding: var(--spacing-400) var(--spacing-300);
}

#thanks-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-300);
    text-align: center;
}

#thanks-content .icon img {
    height: 96px;
    width: 144px;
}

.badge {
    background-color: var(--grey-900);
    color: var(--orange-500);
    display: flex;
    align-items: center;
    border-radius: 22.5px;
    height: var(--spacing-400);
    padding: 4px 12px 0;
    box-sizing: border-box;
}

/* Tablet Responsive */
@media screen and (min-width: 376px) {
    /* General */
    body {
        font-size: 15px;
        line-height: 24px;
    }

    #card {
        box-sizing: border-box;
        max-width: 412px;
    }

    .main-text {
        font-size: 28px;
        line-height: 35px;
    }

    /* Rating Card */
    .rating-card {
        padding: var(--spacing-400) 30px;
    }

    #rating-content, form {
        gap: var(--spacing-400);
    }

    #rating-content .icon {
        width: 48px;
        height: 48px;
    }

    #rating-content .icon img {
        width: 16.75px;
    }

    #radio-div {
        column-gap: var(--spacing-300);
    }

    #radio-div label {
        font-size: 16px;
        padding-top: 3px;
    }

    #submit-btn {
        letter-spacing: 0.17px;
        font-weight: 600;
    }

    /* Thanks Card */
    .thanks-card {
        padding: var(--spacing-500) var(--spacing-400);
    }

    #thanks-content {
        gap: var(--spacing-400);
    }

    #thanks-content .icon img {
        height: 108px;
        width: 162px;
    }

    .badge {
        padding: 4px 20px 0;
    }
}